
h1, p{
     text-align: center;
    width: 60%;
    height: auto;
    margin: 3rem auto;
}

.movies{
     text-align: center;
    width: 40%;
    height: auto;
    margin: 0 auto;
    background-color: gray;
    border: 2px solid white;
    color: bisque;
}
/* .movies ul{
    position: relative;
    
} */

 ul li{
    color: rgb(52, 22, 224);
    right: 0;
    left: 0;
    display: block;
    position: relative;
    padding: 1rem;
    width: auto;
    border: 2px solid white;
    border-left: 0 ;
    border-right: 0 ;
    margin-left: -3rem;
    list-style: none;
    font-weight: bolder;
    font-size: 2rem;
}

.border{
    border: 2px red dashed;
    border-radius: 50%;
    padding: 3.1rem;
    width: 66px;
    background-color: rgb(255, 210, 127);
}

.adjust{
    transform: translateX(28%);
    transition: all 0.2s ease-in-out;
    color: brown;
    font-size: 1.3rem;
}

.caculate{
    text-align: center;
    margin: 0 auto;
    width: 350px;
    height: auto;
    background-color: darkgrey;
    
}
.caculate input{
    width: 250px;
    height: 30px;


}